---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Slug from "./posts/[...slug].astro";
import TagPills from "../components/TagPills.astro";
const pageTitle = "Recipes";
const allPosts = await getCollection("recipes");
allPosts.sort((a,b) => (a.data.title > b.data.title) ? 1 : ((b.data.title > a.data.title) ? -1 : 0))
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <TagPills tags={tags}/>
  <div class="flex flex-row flex-wrap justify-center pt-10 pb-10">
    {
      allPosts.map((post) => (
          // post.slug.search('/') > 0 ? <h2>{post.slug.substring(0, post.slug.indexOf('/'))}</h2><ul><BlogPost url={"/posts/" + post.slug} title={post.data.title} sub={post.slug.search('/') > 0 ? true : false} folder={post.slug.search('/') > 0 ? post.slug.substring(0, post.slug.indexOf('/')) : 'none'})} /></ul> : <BlogPost url={"/posts/" + post.slug} title={post.data.title} sub={post.slug.search('/') > 0 ? true : false} folder={post.slug.search('/') > 0 ? post.slug.substring(0, post.slug.indexOf('/')) : 'none'})} />
        <BlogPost slug={post.slug} image={post.data.image.url} tags={post.data.tags} url={"/posts/" + post.slug} title={post.data.title} sub={post.slug.search('/') > 0 ? true : false} folder={post.slug.search('/') > 0 ? post.slug.substring(0, post.slug.indexOf('/')) : 'none'})} />
      ))
    }
   </div>
</BaseLayout> 
<script>
  import "../scripts/tags.js";
  </script>