---
const {
  url,
  title,
  sub,
  folder,
  tags,
  image,
  slug,
  rating,
  genre,
  readMonth,
  readYear,
  author,
  reading,
  started,
  finished,
  read
  } = Astro.props;
// const tags = post.split(",");
import { StarIcon } from "@heroicons/react/24/solid";
import StarRating from "./StarRating.astro";
let starRating = "";

for (let i = 0; i < rating; i++) {
  starRating = starRating + "★";
}

let test = tags
if (reading) {
  test.push("reading")
}

---

<a
  class="list mt-4"
  data-tags={test != undefined ? test : "none"}
  href={url}
  target="_blank"
>
<div class="card card-compact w-full lg:w-64 bg-everglade-900 shadow-xl shadow-black">

  <figure class="book-image">
     <img src={image.url} alt={image.alt} />
  </figure>
  <div class="card-body">
    <div class="ml-auto mr-0 text-xs text-sienna font-sans">
      {starRating}

      <!-- <StarIcon class="block h-6 w-6 text-everglade-100" /> -->
    </div>
    <div class="flex flex-row justify-between">
      <h2 class="card-title">{title}</h2>
      {reading == true ? <div class="badge bg-gold text-raisin">Reading</div> : ''}
    </div>
    <div class="ml-auto mr-0 text-xs text-sienna drop-shadow">
      {genre} | {started.getDate()}/{started.getMonth()+1}/{started.getFullYear()} {read == true ? <span> - {finished.getDate()}/{finished.getMonth()+1}/{finished.getFullYear()}</span> : ''}
    </div>
    <div class="ml-auto mr-0 text-xs text-gold drop-shadow">
      written by {author}
    </div>
   
  </div>
</div>
</a>
